<div class="buttonsGrid">

    <div class="text1">{{ DisplayedExpression }}</div>
    <div class="text2">{{ (+(operand[ usedOperand ])).toString() }}</div>

    <button (click)="press(18)" class="percentage">%</button>
    <button (click)="press(21)" class="Reset1">CE</button>
    <button (click)="press(22)" class="Reset2">C</button>
    <button (click)="press(19)" class="Remove">⌫</button>
    
    <button (click)="press(17)" class="MultipleReverse"><sup>1</sup>&frasl;<sub>x</sub></button>
    <button (click)="press(16)" class="square">x<sup>2</sup></button>
    <button (click)="press(15)" class="squareRoot"> &#8730;(x) </button>
    <button (click)="press(14)" class="division">&div;</button>
    
    <button (click)="press(7)" class="7Digit">7</button>
    <button (click)="press(8)" class="8Digit">8</button>
    <button (click)="press(9)" class="9Digit">9</button>
    <button (click)="press(13)" class="Multiply"> &times;</button>
    
    <button (click)="press(4)" class="4Digit">4</button>
    <button (click)="press(5)" class="5Digit">5</button>
    <button (click)="press(6)" class="6Digit">6</button>
    <button (click)="press(12)" class="subtract">-</button>
    
    <button (click)="press(1)" class="1Digit">1</button>
    <button (click)="press(2)" class="2Digit">2</button>
    <button (click)="press(3)" class="3Digit">3</button>
    <button (click)="press(11)" class="Add">+</button>

    <button (click)="press(23)" class="MakeNegative">+/-</button>
    <button (click)="press(0)" class="0Digit">0</button>
    <button (click)="press(10)" class="Point">.</button>
    <button (click)="press(20)" class="Equal">=</button>

</div>
